body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.Button {
    border: 5px solid #274018;
    background: #3e779d;
    background: -webkit-gradient(linear, left top, left bottom, from(#65a9d7), to(#3e779d));
    background: -webkit-linear-gradient(top, #65a9d7, #3e779d);
    background: -moz-linear-gradient(top, #65a9d7, #3e779d);
    background: -ms-linear-gradient(top, #65a9d7, #3e779d);
    background: -o-linear-gradient(top, #65a9d7, #3e779d);
    background-image: -ms-linear-gradient(top, #65a9d7 0%, #3e779d 100%);
    padding: 12.5px 25px;
    -webkit-border-radius: 28px;
    -moz-border-radius: 28px;
    border-radius: 28px;
    -webkit-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 0px 0;
    -moz-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 0px 0;
    box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 0px 0;
    text-shadow: #7ea4bd 0 1px 0;
    color: #06426c;
    font-size: 21px;
    font-family: helvetica, serif;
    text-decoration: none;
    vertical-align: middle;
    width: 100%;
    text-align: center;
}
.Button:hover {
    border: 5px solid #0a3c59;
    text-shadow: #1e4158 0 1px 0;
    background: #3e779d;
    background: -webkit-gradient(linear, left top, left bottom, from(#65a9d7), to(#3e779d));
    background: -webkit-linear-gradient(top, #65a9d7, #3e779d);
    background: -moz-linear-gradient(top, #65a9d7, #3e779d);
    background: -ms-linear-gradient(top, #65a9d7, #3e779d);
    background: -o-linear-gradient(top, #65a9d7, #3e779d);
    background-image: -ms-linear-gradient(top, #65a9d7 0%, #3e779d 100%);
    color: #ffffff;
}
.Button:active {
    text-shadow: #21571e 0 1px 0;
    border: 5px solid #401818;
    background: #65a9d7;
    background: -webkit-gradient(linear, left top, left bottom, from(#9c3e3e), to(#3e779d));
    background: -webkit-linear-gradient(top, #9c3e3e, #65a9d7);
    background: -moz-linear-gradient(top, #9c3e3e, #65a9d7);
    background: -ms-linear-gradient(top, #9c3e3e, #65a9d7);
    background: -o-linear-gradient(top, #9c3e3e, #65a9d7);
    background-image: -ms-linear-gradient(top, #9c3e3e 0%, #65a9d7 100%);
    color: #fff;
}