.Co {
    color: green;
}

.Middle {
    position: fixed;
    top: 10rem;
    left: 50%;
    transform: translate(-50%, -50%);
}

canvas {
    position: relative;
    top: 15rem;
    right: 25rem;
}

